<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="{{ "/images/favicon.jpeg" | prepend: site.baseurl }}" type="image/png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ site.title }} - {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="stylesheet" href="{{ "/css/main.css " | prepend: site.baseurl }}">
  <link type="application/rss+xml" rel="alternate"
      title="Scrooge Podcast | اسکروج پادکست" href="https://anchor.fm/s/115e28cc/podcast/rss"/>
</head>
